



<main>
    <!-- HOME MAIN  -->
    <section class="home-slider simple-head" data-stellar-background-ratio="0.5">

        <!-- Container Fluid -->
        <div class="container-fluid">
            <div class="position-center-center">

                <!-- Header Text -->
                <div class="col-lg-7 col-lg-offset-5">
                    <span class="price"><small>₺</small>299</span>
                    <h4>The Latest Product from ecoshop</h4>
                    <h1 class="extra-huge-text">
                        look hot
                        with style
                    </h1>
                    <div class="text-center"> <a href="#." class="btn btn-round">SHOP NOW</a> </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->
    <div id="content">

        <!-- Popular Products -->
        <section class="padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Main Heading -->
                <div class="heading text-center">
                    <h4>new arrival</h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
                        Sed feugiat, tellus vel tristique posuere, diam
                    </span>
                </div>

                <!-- NEW ARRIVAL -->
                <div class="new-arrival-list">
                    <ul class="row">

                        <!-- SHOP_ITEMS -->
                        <li class="col-md-6">

                            <!-- SHOP ITEM 1 -->
                            <article>
                                <img class="img-responsive" src="images/new-ar-img-1.jpg" alt="">
                                <div class="position-center-center">
                                    <h4><a href="#.">leather bag</a></h4>
                                    <a href="#." class="btn btn-small btn-round">MORE</a>
                                </div>
                            </article>

                            <!-- SHOP ITEM 3 -->
                            <article>
                                <img class="img-responsive" src="images/new-ar-img-2.jpg" alt="">
                                <div class="position-center-center">
                                    <h4><a href="#.">graphiti tshirt</a></h4>
                                    <a href="#." class="btn btn-small btn-round">MORE</a>
                                </div>
                            </article>
                        </li>
                        <li class="col-md-6">

                            <!-- SHOP_ITEM 2 -->
                            <article>
                                <img class="img-responsive" src="images/new-ar-img-3.jpg" alt="">
                                <div class="position-center-center">
                                    <h4><a href="#.">leather bag</a></h4>
                                    <a href="#." class="btn btn-small btn-round">MORE</a>
                                </div>
                            </article>

                            <!-- SHOP_ITEM 4 -->
                            <article>
                                <img class="img-responsive" src="images/new-ar-img-4.jpg" alt="">
                                <div class="position-center-center">
                                    <h4><a href="#.">female tshirt</a></h4>
                                    <a href="#." class="btn btn-small btn-round">MORE</a>
                                </div>
                            </article>
                        </li>
                    </ul>

                    <!-- SHOW MORE -->
                    <div class="text-center margin-top-50"> <a href="#." class="btn btn-small btn-round"> SHOW MORE...</a> </div>
                </div>
            </div>
        </section>

        <!-- Popular Products -->
        <section class="padding-bottom-150">
            <div class="container">

                <!-- Main Heading -->
                <div class="heading text-center">
                    <h4>popular products</h4>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus maximus vehicula.
                        Sed feugiat, tellus vel tristique posuere, diam
                    </span>
                </div>

                <!-- Popular Item Slide -->
                <div class="papular-block block-slide">

                    <!-- Item -->
                    <div class="item">
                        <!-- Item img -->
                        <div class="item-img">
                            <img class="img-1" src="images/shop-3-img-1.jpg" alt=""> <img class="img-2" src="images/shop-3-img-4.jpg" alt="">
                            <!-- Overlay -->
                            <div class="overlay">
                                <div class="position-center-center"> <a href="#." class="btn btn-small btn-round">MORE</a> </div>
                            </div>
                        </div>
                        <!-- Item Name -->
                        <div class="item-name"> <a href="#.">GRAY TOPER</a> </div>
                        <!-- Price -->
                    </div>

                    <!-- Item -->
                    <div class="item">
                        <!-- Item img -->
                        <div class="item-img">
                            <img class="img-1" src="images/shop-3-img-2.jpg" alt=""> <img class="img-2" src="images/shop-3-img-4.jpg" alt="">
                            <!-- Overlay -->
                            <div class="overlay">
                                <div class="position-center-center"> <a href="#." class="btn btn-small btn-round">MORE</a> </div>
                            </div>
                        </div>
                        <!-- Item Name -->
                        <div class="item-name"> <a href="#.">casual bag</a> </div>
                        <!-- Price -->
                    </div>

                    <!-- Item -->
                    <div class="item">
                        <!-- Item img -->
                        <div class="item-img">
                            <img class="img-1" src="images/shop-3-img-3.jpg" alt=""> <img class="img-2" src="images/shop-3-img-4.jpg" alt="">
                            <!-- Overlay -->
                            <div class="overlay">
                                <div class="position-center-center"> <a href="#." class="btn btn-small btn-round">MORE</a> </div>
                            </div>
                        </div>
                        <!-- Item Name -->
                        <div class="item-name"> <a href="#.">watch</a> </div>
                        <!-- Price -->
                    </div>

                    <!-- Item -->
                    <div class="item">
                        <!-- Item img -->
                        <div class="item-img">
                            <img class="img-1" src="images/shop-3-img-4.jpg" alt=""> <img class="img-2" src="images/shop-3-img-4.jpg" alt="">
                            <!-- Overlay -->
                            <div class="overlay">
                                <div class="position-center-center"> <a href="#." class="btn btn-small btn-round">MORE</a> </div>
                            </div>
                        </div>
                        <!-- Item Name -->
                        <div class="item-name"> <a href="#.">SHOE</a> </div>
                        <!-- Price -->
                    </div>
                </div>
            </div>
        </section>

        <!-- SPECIALS OFFERS -->
        <section class="special-offers">
            <div class="container">
                <div class="col-md-8 center-block">
                    <h4>special</h4>
                    <h1 class="extra-huge-text">
                        women’s
                        sale
                    </h1>
                    <a href="#." class="btn btn-round margin-top-50"> SHOP NOW</a>
                </div>
            </div>
        </section>

        <!-- About -->
        <section class="small-about padding-top-150 padding-bottom-150">
            <div class="container">

                <!-- Main Heading -->
                <div class="heading text-center">
                    <h4>about ecoshop</h4>
                    <p>
                        Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odio luctus non. Nulla lacinia,
                        eros vel fermentum consectetur, risus purus tempc, et iaculis odio dolor in ex.
                    </p>
                </div>

                <!-- Social Icons -->
                <ul class="social_icons">
                    <li><a href="#."><i class="icon-social-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-social-twitter"></i></a></li>
                    <li><a href="#."><i class="icon-social-tumblr"></i></a></li>
                    <li><a href="#."><i class="icon-social-youtube"></i></a></li>
                    <li><a href="#."><i class="icon-social-dribbble"></i></a></li>
                </ul>
            </div>
        </section>

        <!-- News Letter -->
        <section class="news-letter style-2 padding-top-150 padding-bottom-150">
            <div class="container">
                <div class="heading light-head text-center margin-bottom-30">
                    <h4>NEWSLETTER</h4>
                    <span>Phasellus lacinia fermentum bibendum. Interdum et malesuada fames ac ante ipsumien lacus, eu posuere odi </span>
                </div>
                <form>
                    <input type="email" placeholder="Enter your email address" required>
                    <button type="submit">SEND ME</button>
                </form>
            </div>
        </section>
    </div>

</main>